h1 {
  text-align: center;
}

label {
  align-content: center;
}

table {
  display: float;
  text-indent: initial;
  border-spacing: 2px;
}

th,
td {
  border: 0.1rem solid black;
  border-collapse: collapse;
  width: 0%;
  padding: 0.4rem;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

input {
  margin: 0rem 0.5rem;
}

.container {
  background-color: #1a759f;
  color: #f0efeb;
  width: 80%;
  padding: 1rem;
  margin: auto;
}

.input-controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-controller div {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.input-label {
  align-content: center;
}

#bill-amount {
  width: 25vw;
  /* margin: auto; */
}

#cash-given {
  width: 25vw;
  /* margin: auto; */
}

.change-table {
  text-align: justify;
  border-collapse: collapse;
  width: 50%;
  margin: auto;
}

#check-button {
  background-color: #cddafd;
  border: none;
  display: block;
  cursor: pointer;
  width: 50px;
  margin: auto;
}

.result-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.result-container div {
  padding: 0.5rem 0rem;
}

.result-container div.result-table-heading {
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: 2px solid white;
}

.result-container div.currency-column {
  width: 100px;
  text-align: center;
  border: 2px solid white;
}
